.rotate-wrap{
  position: relative;
  display: inline-block;
  user-select: none;
  .rotate-svg{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    cursor: grabbing;
  }
}